VALD_CLIENT_ID=
VALD_CLIENT_SECRET=
VALD_TEAM_ID=
VALD_REGION=use
VALD_AUTO_REFRESH=true
VALD_REFRESH_HOURS=24
BASE_PLAYER_HEALTH_ROSTER_FILE=
BASE_PLAYER_HEALTH_CROSSWALK_FILE=
BASE_PLAYER_HEALTH_ACTIVE_CUTOFF=2026-08-01
